*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: #000 !important;
  }
  
  #main{
    background-color: black;
  }
  #nav {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 30px 50px;
    z-index: 10;
    align-items: center;
  }
  /* From Uiverse.io by mrhyddenn */ 
  .shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
  
  #nav button {
    margin-left: 1rem; /* Adds a gap between buttons */
  }
  
  #nav img {
    margin-right: auto; /* Pushes the buttons to the right */
  }
  
  
  #page1{
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  .container {
    position: relative;
    width: 300px; /* Container width */
    height: 500px;/* Container height */
    padding: 470px;
    padding-block: 170px;
    margin-top: 210px !important;
    
  }
  
  .container .top, 
  .container .bottom, 
  .container .left, 
  .container .right {
    position: absolute;
    overflow: hidden; /* Prevent text from overflowing */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 10px;
  }
  
  .container .top {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: burlywood;
    border-radius: 20px;
  }
  
  .container .bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: burlywood;
    border-radius: 20px;
  
  }
  
  .container .left {
    top: 50px;
    left: 0;
    width: 50px;
    height: calc(100% - 100px); /* Adjust for top and bottom */
   /* Blue background */
    writing-mode: vertical-rl; /* Text written vertically */
    transform: rotate(180deg); 
    color: burlywood;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px/* Flip text to read bottom-to-top */
  }
  
  .container .right {
    top: 50px;
    right: 0;
    width: 50px;
    height: calc(100% - 100px); /* Adjust for top and bottom */
     /* Pink background */
    writing-mode: vertical-rl;
    color: burlywood;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px /* Text written vertically */
  }
  
  /* Marquee animation */
  @keyframes marquee-horizontal {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes marquee-vertical {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }
  
  /* Marquee text styling */
  .container .top p,
  .container .bottom p {
    animation: marquee-horizontal 5s linear infinite;
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .container .left p,
  .container .right p {
    animation: marquee-vertical 5s linear infinite;
  }
  p{
    font-size: 50px;
  }
  
  
  
  div .image{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #page2{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .elem{
    width: 100%;
    position: relative;
    cursor: pointer;
  }
  
  .elem .blur{
    background: linear-gradient(to right, #f5e31bf0,  #F5E41B, #f5e31bf6);
    box-shadow: 10px 0px 5px #F5E41B, -10px 0px 5px #F5E41B;    
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 35%;
    height: 100%;
    top: 50%;
    z-index: 8;
  }
  
  
  .elem h2{
    font-size: 6.8vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5vw;
  }
  
  .elem .moving{
    background-color: #F3E41A;
    width: 100%;
    white-space: nowrap;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    transition: all ease 0.5s;
    transform: translate(0,-45%) scaleY(0);
  }
  .elem .moving .moving-in{
    white-space: nowrap;
    display: inline-block;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .elem .moving .moving-in h5{
    color: #000;
    display: inline-block;
    font-size: 17px;
    margin-right: 35px;
    transition-delay: 0.5s;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: all ease 0.5s;
  }
  
  .elem:hover .moving{
    transform: translate(0,-45%) scaleY(1);
  
  }
  
  .elem:hover .moving h5{
    opacity: 1;
  
  }
  .elem:hover h2{
    font-style: italic;
  }
  
  @keyframes moving {
    from {
      transform: translateX(0);
  
    }
    to {
      transform: translateX(-100%);
  
    }
  }
  
  /* From Uiverse.io by MuhammadHasann */ 
  .button {
    --black-700: hsla(0 0% 12% / 1);
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform-origin: center;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    -ms-border-radius: var(--border_radius);
    -o-border-radius: var(--border_radius);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: var(--black-700);
  
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);
  
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
  
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
    border-radius: var(--border_radius);
    z-index: -10;
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    -ms-border-radius: var(--border_radius);
    -o-border-radius: var(--border_radius);
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
  
    width: 100%;
    height: 2rem;
    background-color: white;
  
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
  
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
  
    transform-origin: center;
  
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
  .button .text_button {
    position: relative;
    z-index: 10;
  
    background-image: linear-gradient(
      90deg,
      hsla(0 0% 100% / 1) 0%,
      hsla(0 0% 100% / var(--active, 0)) 120%
    );
    background-clip: text;
  
    font-size: 1rem;
    color: transparent;
  }
  
  #page3{
    height: 100vh;
    width: 100%;
    background-color: #fff;
  }
  
  .blob-outer-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
    -webkit-filter: blur(100px);
  }
  .blob-inner-container{
    border-radius: 99999px;
    inset: 0;
    margin: auto;
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: #fff;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  .blob{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #8B5DFF,#FA812F,#3D5300,#D4F6FF,#88C273,#B8001F,#697565,#1230AE,#ED3EF7,#AD49E1,#FFDA76,#B4E380,#17153B);
    animation: spinBlob 20s linear infinite;
    -webkit-animation: spinBlob 20s linear infinite;
    
  }
  
  @keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }
    100% {
        transform: rotate(1turn) scale(2);
        -webkit-transform: rotate(1turn) scale(2);
        -moz-transform: rotate(1turn) scale(2);
        -ms-transform: rotate(1turn) scale(2);
        -o-transform: rotate(1turn) scale(2);
  }
  }
  
  :root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.2);
  }
  *{
    box-sizing: border-box;
  }
  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    perspective: 2500px;
    margin: 0 50px;
    border-radius: 5px;
  }
  .cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
  }
  .card:hover .wrapper{
    transform: perspective(900px) translateY(-10%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    -webkit-transform: perspective(900px) translateY(-10%) rotateX(25deg) translateZ(0);
    -moz-transform: perspective(900px) translateY(-10%) rotateX(25deg) translateZ(0);
    -ms-transform: perspective(900px) translateY(-10%) rotateX(25deg) translateZ(0);
    -o-transform: perspective(900px) translateY(-10%) rotateX(25deg) translateZ(0);
  }
  .wrapper::before,
  .wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }
  .wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5)68%,
        rgba(12, 13, 19) 97%
    );
    border-radius: 5px;
  }
  .wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19)97%
    );
    border-radius: 5px;
  }
  .card:hover .wrapper::before,
  .wrapper::after{
    opacity: 1;
  }
  .card:hover .wrapper::after{
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  
  
  
  
  
  .slider-container{
    background: black;
    width: 100%;
    height: 100vh;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-images{
    display: flex;
    align-items: center;
    gap: 21px;
  }
  .slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  .slider-img{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 480px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 560px;
  }
  .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 665px;
  }
  
  
  .h1{
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
  }
  
  .details{
    position: absolute;
    bottom: 43px;
    left: 43px;
  }
  .details h2{
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
  }
  .details p{
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
  }
  .slider-img.active{
    width: 766px !important;
    height: 750px !important;
  }
  .slider-img.active h1{
     display: none;
  }
  .slider-img.active .details p, .slider-img.active .details h2{
    display: block;
  }
  
  
  
  