.event-tabs {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    border-radius: 5px;
    
  }
  
  .tabs {
    background-color: lightgoldenrodyellow;
    display: flex;
   padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;

  }
  
  .tab {
    
    background-color:lightgoldenrodyellow;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: none;
    border: none;
    padding: 10px;
    color: black;
  }
 
  .tab.active {
    font-size: 18px;
    transition: all ease-in;
    font-weight: bold;
    border: none;
  }
  
  .image-container {
    display: flex;
    gap: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 45px;
    align-items: center;
    width: 1200px;
    height: 500px;
    justify-content: center;
  }
  
  .image-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    transition: all ease-in;
  }
    