body {
    background: #0e7c86;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .gallery {
    width: 1200px;
    height: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #160D08;
  }
  
  .gallery img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-out 0.5s;
    cursor: pointer;
    overflow: hidden;
    
  }
  
  .gallery img:hover {
    width: 50%;
  }
  /* SwiperComponent.css */



.swiper-slide {
  width: 420px;
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide .slide-content {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
  font-size: 100px;
  font-weight: 900;
}



