body {
    background: #0e7c86;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .gallery {
    width: 1200px;
    height: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #160D08;
  }
  
  .gallery img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-out 0.5s;
    cursor: pointer;
    overflow: hidden;
    
  }
  
  .gallery img:hover {
    width: 50%;
  }
  