/* Example in CSS */
@font-face {
  font-family: 'Lovelo';
  src: url('/assets/fonts/lovelo-regular.woff2') format('woff2'),
       url('/assets/fonts/lovelo-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lovelo', sans-serif;
}

.sports{
  background-color: black;
}


/* Nav & Hero */
/* Nav & Hero */

/* SportsCard.css */
.events{
  background-color: #160D08;
  border: none;
}

  

/* Gallery */
/* ImageGallery.css */
.Gallery{
  display: flex;
  flex-direction: column;
  
  width: 1200px;
  justify-content: center;
  align-items: center;
  margin: auto;
  height:700px;
  border-radius: 45px;
  
}

/* Container for both galleries side by side */
.image-gallery-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

/* Gallery 1: Infinite Scroll Up */



/* Gallery Container */


/* Gallery */


