/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #232C33;
  color: #232C33;
}

/* button */
.btn{
    background-color: #232C33;
}

.btn:hover{
    background-color: #232C33;
}

.headingCenter{
  text-align: center;
  color: #DADFF7;
  font-size: 3.5rem;
  padding: 40px 0px;
}

@media screen and (max-width: 700px) {
  .headingCenter{
    font-size: 1rem;
    padding: 40px 0px;
  }
}